In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import datasets

In [34]:
df = pd.read_csv("data.csv", delimiter=",")

In [35]:
df.shape

(331, 11)

In [38]:
df.describe()

,# age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,Y
count,331.000000,331.000000,331.000000,331.000000,331.000000,331.000000,331.000000,331.000000,331.000000,331.000000,331.000000
mean,-0.000214,-0.000293,0.000053,-0.001045,-0.001423,-0.001220,0.000440,-0.001473,-0.001594,0.000099,149.722054
std,0.047207,0.047618,0.048627,0.047621,0.047371,0.046936,0.047303,0.046591,0.048088,0.047263,76.796907
min,-0.107226,-0.044642,-0.090275,-0.102071,-0.126781,-0.115613,-0.102307,-0.076395,-0.126097,-0.137767,25.000000
25%,-0.034575,-0.044642,-0.035307,-0.036656,-0.035968,-0.029967,-0.032356,-0.039493,-0.035817,-0.034215,84.000000
50%,0.005383,-0.044642,-0.008362,-0.005671,-0.004321,-0.004445,-0.006584,-0.002592,-0.005145,-0.001078,138.000000
75%,0.038076,0.050680,0.030979,0.032775,0.027326,0.028905,0.026550,0.034309,0.032124,0.027917,202.000000
max,0.110727,0.050680,0.170555,0.132044,0.153914,0.198788,0.181179,0.185234,0.133599,0.135612,346.000000

In [43]:
x = df.iloc[:, :10]  # Select all rows and the first 10 columns
y = df.iloc[:, :10]  # Select all rows and the first 10 columns

In [44]:
x.shape

(331, 10)

In [45]:
y.shape

(331, 10)