In [2]:
pip install pandas

Collecting pandas
  Downloading pandas-2.0.3-cp311-cp311-win_amd64.whl (10.6 MB)
                                              0.0/10.6 MB ? eta -:--:--
                                              0.0/10.6 MB ? eta -:--:--
                                             0.0/10.6 MB 435.7 kB/s eta 0:00:25
                                             0.1/10.6 MB 465.5 kB/s eta 0:00:23
                                             0.1/10.6 MB 726.2 kB/s eta 0:00:15
                                             0.1/10.6 MB 554.9 kB/s eta 0:00:19
                                             0.2/10.6 MB 573.4 kB/s eta 0:00:19
                                             0.3/10.6 MB 827.5 kB/s eta 0:00:13
     -                                       0.4/10.6 MB 995.6 kB/s eta 0:00:11
     --                                       0.5/10.6 MB 1.4 MB/s eta 0:00:08
     --                                       0.7/10.6 MB 1.6 MB/s eta 0:00:07
     ---                                      0.8/10.6 MB 1.7 MB/s eta 0:00:06
     ---                                      0.8/10.6 MB 1.7 MB/s eta 0:00:06
     ---                                      0.9/10.6 MB 1.5 MB/s eta 0:00:07
     ---                                      0.9/10.6 MB 1.5 MB/s eta 0:00:07
     -------                                  1.9/10.6 MB 2.9 MB/s eta 0:00:04
     -------                                  2.1/10.6 MB 2.9 MB/s eta 0:00:03
     ---------                                2.5/10.6 MB 3.2 MB/s eta 0:00:03
     ---------                                2.5/10.6 MB 3.2 MB/s eta 0:00:03
     ---------                                2.6/10.6 MB 3.0 MB/s eta 0:00:03
     ---------                                2.6/10.6 MB 3.0 MB/s eta 0:00:03
     ----------                               2.7/10.6 MB 2.8 MB/s eta 0:00:03
     ----------                               2.7/10.6 MB 2.7 MB/s eta 0:00:03
     ----------                               2.9/10.6 MB 2.7 MB/s eta 0:00:03
     ------------                             3.2/10.6 MB 2.9 MB/s eta 0:00:03
     ------------                             3.3/10.6 MB 2.9 MB/s eta 0:00:03
     ------------                             3.4/10.6 MB 2.9 MB/s eta 0:00:03
     -------------                            3.5/10.6 MB 2.9 MB/s eta 0:00:03
     -------------                            3.5/10.6 MB 2.9 MB/s eta 0:00:03
     -------------                            3.5/10.6 MB 2.9 MB/s eta 0:00:03
     -------------                            3.6/10.6 MB 2.6 MB/s eta 0:00:03
     --------------                           3.8/10.6 MB 2.7 MB/s eta 0:00:03
     --------------                           3.9/10.6 MB 2.7 MB/s eta 0:00:03
     ---------------                          4.1/10.6 MB 2.7 MB/s eta 0:00:03
     ---------------                          4.1/10.6 MB 2.7 MB/s eta 0:00:03
     ---------------                          4.2/10.6 MB 2.6 MB/s eta 0:00:03
     ---------------                          4.2/10.6 MB 2.6 MB/s eta 0:00:03
     ---------------                          4.2/10.6 MB 2.6 MB/s eta 0:00:03
     ---------------                          4.2/10.6 MB 2.5 MB/s eta 0:00:03
     -----------------                        4.6/10.6 MB 2.5 MB/s eta 0:00:03
     -----------------                        4.6/10.6 MB 2.5 MB/s eta 0:00:03
     -----------------                        4.7/10.6 MB 2.5 MB/s eta 0:00:03
     -----------------                        4.8/10.6 MB 2.5 MB/s eta 0:00:03
     ------------------                       5.0/10.6 MB 2.5 MB/s eta 0:00:03
     ------------------                       5.0/10.6 MB 2.5 MB/s eta 0:00:03
     -------------------                      5.1/10.6 MB 2.5 MB/s eta 0:00:03
     -------------------                      5.2/10.6 MB 2.5 MB/s eta 0:00:03
     --------------------                     5.4/10.6 MB 2.5 MB/s eta 0:00:03
     --------------------                     5.5/10.6 MB 2.5 MB/s eta 0:00:03
     ---------------------                    5.6/10.6 MB 2.5 MB/s eta 0:00:03
     ---------------------                    5.6/10.6 MB 2.5 MB/s eta 0:00:03
     ---------------------                    5.7/10.6 MB 2.4 MB/s eta 0:00:03
     ---------------------                    5.7/10.6 MB 2.4 MB/s eta 0:00:03
     ---------------------                    5.7/10.6 MB 2.4 MB/s eta 0:00:03
     ---------------------                    5.7/10.6 MB 2.3 MB/s eta 0:00:03
     ----------------------                   6.1/10.6 MB 2.4 MB/s eta 0:00:02
     -----------------------                  6.1/10.6 MB 2.4 MB/s eta 0:00:02
     -----------------------                  6.2/10.6 MB 2.4 MB/s eta 0:00:02
     -----------------------                  6.2/10.6 MB 2.4 MB/s eta 0:00:02
     -----------------------                  6.3/10.6 MB 2.3 MB/s eta 0:00:02
     ------------------------                 6.4/10.6 MB 2.3 MB/s eta 0:00:02
     ------------------------                 6.4/10.6 MB 2.3 MB/s eta 0:00:02
     ------------------------                 6.5/10.6 MB 2.3 MB/s eta 0:00:02
     ------------------------                 6.6/10.6 MB 2.3 MB/s eta 0:00:02
     -------------------------                6.7/10.6 MB 2.3 MB/s eta 0:00:02
     -------------------------                6.8/10.6 MB 2.2 MB/s eta 0:00:02
     -------------------------                6.8/10.6 MB 2.2 MB/s eta 0:00:02
     -------------------------                6.9/10.6 MB 2.2 MB/s eta 0:00:02
     -------------------------                6.9/10.6 MB 2.2 MB/s eta 0:00:02
     -------------------------                6.9/10.6 MB 2.2 MB/s eta 0:00:02
     -------------------------                6.9/10.6 MB 2.1 MB/s eta 0:00:02
     --------------------------               7.1/10.6 MB 2.1 MB/s eta 0:00:02
     --------------------------               7.1/10.6 MB 2.1 MB/s eta 0:00:02
     ---------------------------              7.2/10.6 MB 2.1 MB/s eta 0:00:02
     ---------------------------              7.2/10.6 MB 2.1 MB/s eta 0:00:02
     ---------------------------              7.3/10.6 MB 2.1 MB/s eta 0:00:02
     ---------------------------              7.3/10.6 MB 2.1 MB/s eta 0:00:02
     ---------------------------              7.4/10.6 MB 2.1 MB/s eta 0:00:02
     ----------------------------             7.4/10.6 MB 2.1 MB/s eta 0:00:02
     ----------------------------             7.5/10.6 MB 2.1 MB/s eta 0:00:02
     ----------------------------             7.6/10.6 MB 2.0 MB/s eta 0:00:02
     ----------------------------             7.6/10.6 MB 2.0 MB/s eta 0:00:02
     ----------------------------             7.7/10.6 MB 2.0 MB/s eta 0:00:02
     ----------------------------             7.7/10.6 MB 2.0 MB/s eta 0:00:02
     ----------------------------             7.7/10.6 MB 2.0 MB/s eta 0:00:02
     ----------------------------             7.7/10.6 MB 2.0 MB/s eta 0:00:02
     -----------------------------            7.8/10.6 MB 2.0 MB/s eta 0:00:02
     -----------------------------            7.9/10.6 MB 2.0 MB/s eta 0:00:02
     -----------------------------            7.9/10.6 MB 1.9 MB/s eta 0:00:02
     -----------------------------            7.9/10.6 MB 1.9 MB/s eta 0:00:02
     ------------------------------           8.0/10.6 MB 1.9 MB/s eta 0:00:02
     ------------------------------           8.0/10.6 MB 1.9 MB/s eta 0:00:02
     ------------------------------           8.1/10.6 MB 1.9 MB/s eta 0:00:02
     ------------------------------           8.1/10.6 MB 1.9 MB/s eta 0:00:02
     ------------------------------           8.1/10.6 MB 1.9 MB/s eta 0:00:02
     ------------------------------           8.1/10.6 MB 1.9 MB/s eta 0:00:02
     ------------------------------           8.1/10.6 MB 1.9 MB/s eta 0:00:02
     ------------------------------           8.1/10.6 MB 1.9 MB/s eta 0:00:02
     -------------------------------          8.3/10.6 MB 1.8 MB/s eta 0:00:02
     -------------------------------          8.3/10.6 MB 1.8 MB/s eta 0:00:02
     -------------------------------          8.4/10.6 MB 1.8 MB/s eta 0:00:02
     -------------------------------          8.4/10.6 MB 1.8 MB/s eta 0:00:02
     -------------------------------          8.4/10.6 MB 1.8 MB/s eta 0:00:02
     -------------------------------          8.5/10.6 MB 1.8 MB/s eta 0:00:02
     --------------------------------         8.5/10.6 MB 1.8 MB/s eta 0:00:02
     --------------------------------         8.5/10.6 MB 1.8 MB/s eta 0:00:02
     --------------------------------         8.6/10.6 MB 1.7 MB/s eta 0:00:02
     --------------------------------         8.6/10.6 MB 1.7 MB/s eta 0:00:02
     --------------------------------         8.6/10.6 MB 1.7 MB/s eta 0:00:02
     --------------------------------         8.7/10.6 MB 1.7 MB/s eta 0:00:02
     --------------------------------         8.7/10.6 MB 1.7 MB/s eta 0:00:02
     --------------------------------         8.7/10.6 MB 1.7 MB/s eta 0:00:02
     ---------------------------------        8.8/10.6 MB 1.7 MB/s eta 0:00:02
     ---------------------------------        8.8/10.6 MB 1.7 MB/s eta 0:00:02
     ---------------------------------        8.8/10.6 MB 1.7 MB/s eta 0:00:02
     ---------------------------------        8.9/10.6 MB 1.7 MB/s eta 0:00:02
     ---------------------------------        8.9/10.6 MB 1.7 MB/s eta 0:00:02
     ---------------------------------        8.9/10.6 MB 1.6 MB/s eta 0:00:02
     ---------------------------------        9.0/10.6 MB 1.6 MB/s eta 0:00:01
     ----------------------------------       9.0/10.6 MB 1.6 MB/s eta 0:00:01
     ----------------------------------       9.1/10.6 MB 1.6 MB/s eta 0:00:01
     ----------------------------------       9.1/10.6 MB 1.6 MB/s eta 0:00:01
     ----------------------------------       9.1/10.6 MB 1.6 MB/s eta 0:00:01
     ----------------------------------       9.1/10.6 MB 1.6 MB/s eta 0:00:01
     ----------------------------------       9.2/10.6 MB 1.6 MB/s eta 0:00:01
     ----------------------------------       9.2/10.6 MB 1.6 MB/s eta 0:00:01
     ----------------------------------       9.2/10.6 MB 1.6 MB/s eta 0:00:01
     ----------------------------------       9.3/10.6 MB 1.6 MB/s eta 0:00:01
     -----------------------------------      9.3/10.6 MB 1.6 MB/s eta 0:00:01
     -----------------------------------      9.3/10.6 MB 1.6 MB/s eta 0:00:01
     -----------------------------------      9.4/10.6 MB 1.6 MB/s eta 0:00:01
     -----------------------------------      9.4/10.6 MB 1.5 MB/s eta 0:00:01
     -----------------------------------      9.5/10.6 MB 1.5 MB/s eta 0:00:01
     -----------------------------------      9.5/10.6 MB 1.5 MB/s eta 0:00:01
     -----------------------------------      9.5/10.6 MB 1.5 MB/s eta 0:00:01
     -----------------------------------      9.5/10.6 MB 1.5 MB/s eta 0:00:01
     ------------------------------------     9.6/10.6 MB 1.5 MB/s eta 0:00:01
     ------------------------------------     9.6/10.6 MB 1.5 MB/s eta 0:00:01
     ------------------------------------     9.7/10.6 MB 1.5 MB/s eta 0:00:01
     ------------------------------------     9.7/10.6 MB 1.5 MB/s eta 0:00:01
     ------------------------------------     9.7/10.6 MB 1.5 MB/s eta 0:00:01
     ------------------------------------     9.7/10.6 MB 1.5 MB/s eta 0:00:01
     ------------------------------------     9.8/10.6 MB 1.5 MB/s eta 0:00:01
     ------------------------------------     9.8/10.6 MB 1.5 MB/s eta 0:00:01
     ------------------------------------     9.8/10.6 MB 1.5 MB/s eta 0:00:01
     ------------------------------------     9.8/10.6 MB 1.5 MB/s eta 0:00:01
     -------------------------------------    9.9/10.6 MB 1.5 MB/s eta 0:00:01
     -------------------------------------    9.9/10.6 MB 1.5 MB/s eta 0:00:01
     -------------------------------------    10.0/10.6 MB 1.5 MB/s eta 0:00:01
     -------------------------------------    10.0/10.6 MB 1.4 MB/s eta 0:00:01
     -------------------------------------    10.0/10.6 MB 1.4 MB/s eta 0:00:01
     -------------------------------------    10.1/10.6 MB 1.4 MB/s eta 0:00:01
     --------------------------------------   10.1/10.6 MB 1.4 MB/s eta 0:00:01
     --------------------------------------   10.1/10.6 MB 1.4 MB/s eta 0:00:01
     --------------------------------------   10.1/10.6 MB 1.4 MB/s eta 0:00:01
     --------------------------------------   10.2/10.6 MB 1.4 MB/s eta 0:00:01
     --------------------------------------   10.2/10.6 MB 1.4 MB/s eta 0:00:01
     --------------------------------------   10.2/10.6 MB 1.4 MB/s eta 0:00:01
     --------------------------------------   10.3/10.6 MB 1.4 MB/s eta 0:00:01
     --------------------------------------   10.3/10.6 MB 1.4 MB/s eta 0:00:01
     --------------------------------------   10.3/10.6 MB 1.4 MB/s eta 0:00:01
     ---------------------------------------  10.4/10.6 MB 1.4 MB/s eta 0:00:01
     ---------------------------------------  10.4/10.6 MB 1.4 MB/s eta 0:00:01
     ---------------------------------------  10.4/10.6 MB 1.4 MB/s eta 0:00:01
     ---------------------------------------  10.4/10.6 MB 1.4 MB/s eta 0:00:01
     ---------------------------------------  10.4/10.6 MB 1.4 MB/s eta 0:00:01
     ---------------------------------------  10.5/10.6 MB 1.4 MB/s eta 0:00:01
     ---------------------------------------  10.5/10.6 MB 1.4 MB/s eta 0:00:01
     ---------------------------------------  10.5/10.6 MB 1.4 MB/s eta 0:00:01
     ---------------------------------------  10.5/10.6 MB 1.4 MB/s eta 0:00:01
     ---------------------------------------  10.6/10.6 MB 1.4 MB/s eta 0:00:01
     ---------------------------------------  10.6/10.6 MB 1.3 MB/s eta 0:00:01
     ---------------------------------------- 10.6/10.6 MB 1.3 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\kiit\miniconda3\lib\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2023.3-py2.py3-none-any.whl (502 kB)
                                              0.0/502.3 kB ? eta -:--:--
     ---                                   41.0/502.3 kB 960.0 kB/s eta 0:00:01
     ------                                81.9/502.3 kB 919.0 kB/s eta 0:00:01
     --------                             122.9/502.3 kB 901.1 kB/s eta 0:00:01
     --------                             122.9/502.3 kB 901.1 kB/s eta 0:00:01
     -----------                          163.8/502.3 kB 817.0 kB/s eta 0:00:01
     -----------                          163.8/502.3 kB 817.0 kB/s eta 0:00:01
     ----------------                     225.3/502.3 kB 762.6 kB/s eta 0:00:01
     -----------------                    245.8/502.3 kB 654.2 kB/s eta 0:00:01
     -------------------                  276.5/502.3 kB 680.9 kB/s eta 0:00:01
     -----------------------              327.7/502.3 kB 700.8 kB/s eta 0:00:01
     -------------------------            358.4/502.3 kB 717.9 kB/s eta 0:00:01
     -------------------------            358.4/502.3 kB 717.9 kB/s eta 0:00:01
     ---------------------------          389.1/502.3 kB 673.0 kB/s eta 0:00:01
     ---------------------------          389.1/502.3 kB 673.0 kB/s eta 0:00:01
     ---------------------------          389.1/502.3 kB 673.0 kB/s eta 0:00:01
     ------------------------------------ 502.3/502.3 kB 684.4 kB/s eta 0:00:00
Collecting tzdata>=2022.1 (from pandas)
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
                                              0.0/341.8 kB ? eta -:--:--
     ----                                  41.0/341.8 kB 991.0 kB/s eta 0:00:01
     ------                                61.4/341.8 kB 656.4 kB/s eta 0:00:01
     ---------                             92.2/341.8 kB 655.4 kB/s eta 0:00:01
     ---------                             92.2/341.8 kB 655.4 kB/s eta 0:00:01
     ---------------                      143.4/341.8 kB 655.8 kB/s eta 0:00:01
     -----------------                    163.8/341.8 kB 656.4 kB/s eta 0:00:01
     --------------------                 194.6/341.8 kB 620.6 kB/s eta 0:00:01
     -------------------------            245.8/341.8 kB 656.0 kB/s eta 0:00:01
     -------------------------            245.8/341.8 kB 656.0 kB/s eta 0:00:01
     -----------------------------        276.5/341.8 kB 587.7 kB/s eta 0:00:01
     --------------------------------     307.2/341.8 kB 613.6 kB/s eta 0:00:01
     ------------------------------------ 341.8/341.8 kB 606.2 kB/s eta 0:00:00
Requirement already satisfied: numpy>=1.21.0 in c:\users\kiit\miniconda3\lib\site-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in c:\users\kiit\miniconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.0.3 pytz-2023.3 tzdata-2023.3
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

CSV (Comma Separated Values) --> create a DataFrame, which is a two-dimensional tabular data structure, to store the data in a way that makes it easy to analyze and manipulate.

In [6]:
a = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")
a

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [34]:
type(a)  # Data Frame

pandas.core.frame.DataFrame

In [7]:
df = a.copy()

This can be very useful when you want to perform different operations on the same dataset without modifying the original data

In [8]:
df.head() # by default it gives 5 values

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [9]:
df.head(3)

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa

In [10]:
df.shape

(149, 5)

In [11]:
df.dtypes

5.1            float64
3.5            float64
1.4            float64
0.2            float64
Iris-setosa     object
dtype: object

In [12]:
df.columns

Index(['5.1', '3.5', '1.4', '0.2', 'Iris-setosa'], dtype='object')

In [13]:
df.columns = ["sepal-length", "sepal-width", "petal-length", "petal-width", "flower-type"] # change nammes of columns

In [14]:
df.columns

Index(['sepal-length', 'sepal-width', 'petal-length', 'petal-width',
       'flower-type'],
      dtype='object')

In [15]:
df.dtypes

sepal-length    float64
sepal-width     float64
petal-length    float64
petal-width     float64
flower-type      object
dtype: object

In [16]:
df.head()

   sepal-length  sepal-width  petal-length  petal-width  flower-type
0           4.9          3.0           1.4          0.2  Iris-setosa
1           4.7          3.2           1.3          0.2  Iris-setosa
2           4.6          3.1           1.5          0.2  Iris-setosa
3           5.0          3.6           1.4          0.2  Iris-setosa
4           5.4          3.9           1.7          0.4  Iris-setosa

In [17]:
df.describe()

       sepal-length  sepal-width  petal-length  petal-width
count    149.000000   149.000000    149.000000   149.000000
mean       5.848322     3.051007      3.774497     1.205369
std        0.828594     0.433499      1.759651     0.761292
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.400000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [29]:
df["sepal-length"] # to check a particular column

0      4.9
1      4.7
2      4.6
3      5.0
4      5.4
      ...
144    6.7
145    6.3
146    6.5
147    6.2
148    5.9
Name: sepal-length, Length: 149, dtype: float64

In [30]:
df.isnull()  # to check if there is any null value

     sepal-length  sepal-width  petal-length  petal-width  flower-type
0           False        False         False        False        False
1           False        False         False        False        False
2           False        False         False        False        False
3           False        False         False        False        False
4           False        False         False        False        False
..            ...          ...           ...          ...          ...
144         False        False         False        False        False
145         False        False         False        False        False
146         False        False         False        False        False
147         False        False         False        False        False
148         False        False         False        False        False

[149 rows x 5 columns]

In [31]:
df.isnull().sum()   # to find total null values

sepal-length    0
sepal-width     0
petal-length    0
petal-width     0
flower-type     0
dtype: int64

In [32]:
df.iloc[50:61, 2:]     # Slice of data

    petal-length  petal-width      flower-type
50           4.5          1.5  Iris-versicolor
51           4.9          1.5  Iris-versicolor
52           4.0          1.3  Iris-versicolor
53           4.6          1.5  Iris-versicolor
54           4.5          1.3  Iris-versicolor
55           4.7          1.6  Iris-versicolor
56           3.3          1.0  Iris-versicolor
57           4.6          1.3  Iris-versicolor
58           3.9          1.4  Iris-versicolor
59           3.5          1.0  Iris-versicolor
60           4.2          1.5  Iris-versicolor